proventisservices/src/main/resources/wsdl/humanService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="BlueAnt" targetNamespace="http://blueant.axis.proventis.net/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://blueant.axis.proventis.net/" xmlns:exception="http://exception.blueant.axis.proventis.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:base="http://base.blueant.axis.proventis.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:human="http://human.blueant.axis.proventis.net/">
<wsdl:documentation>Version 8.0.1 vom 26.04.2010 10:30 - WSI - Verified</wsdl:documentation>
  <wsdl:types>
    <xsd:schema>
			<xsd:import namespace="http://exception.blueant.axis.proventis.net/" schemaLocation="exception.xsd"/>
		</xsd:schema>
    <xsd:schema>
			<xsd:import namespace="http://base.blueant.axis.proventis.net/" schemaLocation="base.xsd"/>
		</xsd:schema>

    <xsd:schema>
			<xsd:import namespace="http://human.blueant.axis.proventis.net/" schemaLocation="human.xsd"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchPersonsRequest">
    <wsdl:part name="param" element="human:searchPersonsRequestParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="PermissionDeniedException">

    <wsdl:part name="PermissionDeniedException" element="exception:PermissionDeniedException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidConcurrentLicenseException">
    <wsdl:part name="InvalidConcurrentLicenseException" element="exception:InvalidConcurrentLicenseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginResponse">
    <wsdl:part name="sessionID" element="base:sessionID">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LogoutRequest">
    <wsdl:part name="param" element="base:LogoutRequestParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidClientException">
    <wsdl:part name="InvalidClientException" element="exception:InvalidClientException">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="InvalidUsernamePasswordCombinationException">
    <wsdl:part name="InvalidUsernamePasswordCombinatioException" element="exception:InvalidUsernamePasswordCombinationException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginNoAuthResponse">
    <wsdl:part name="sessionID" element="base:sessionID">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="InvalidDatesException">
    <wsdl:part name="InvalidDatesException" element="exception:InvalidDatesException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="searchPersonsResponse">
    <wsdl:part name="personList" element="human:PersonList">
<wsdl:documentation>Liste aller gefundene Personen</wsdl:documentation>
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="InvalidNamedLicenseException">
    <wsdl:part name="InvalidNamedLicenseException" element="exception:InvalidNamedLicenseException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidUsernameException">
    <wsdl:part name="InvalidUsernameException" element="exception:InvalidUsernameException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServerMaintenanceException">

    <wsdl:part name="ServerMaintenanceException" element="exception:ServerMaintenanceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidSessionException">
    <wsdl:part name="InvalidSessionException" element="exception:InvalidSessionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginNoAuthRequest">
    <wsdl:part name="param" element="base:LoginNoAuthRequestParameter">

    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginSAMLRequest">
    <wsdl:part name="param" element="base:LoginSAMLRequestParameter">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="LoginRequest">
    <wsdl:part name="param" element="base:LoginRequestParameter">
    </wsdl:part>

  </wsdl:message>
  <wsdl:message name="LoginSAMLResponse">
    <wsdl:part name="sessionID" element="base:sessionID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AssertionException">
    <wsdl:part name="AssertionException" element="exception:AssertionException">
    </wsdl:part>
  </wsdl:message>

  <wsdl:message name="LogoutResponse">
  </wsdl:message>
  <wsdl:message name="InvalidParameterException">
    <wsdl:part name="InvalidParameterException" element="exception:InvalidParameterException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Human">
<wsdl:documentation>Dieser Service liefert aus Blue Ant eine Liste aller im Unternehmen tätigen internen/externen Mitarbeiter und Kontakte. Gelöschte Mitarbeiter/Kontakte werden nicht ausgwiesen.</wsdl:documentation>
    <wsdl:operation name="searchPersons">

<wsdl:documentation>Dieser Service liefert aus Blue Ant eine Liste aller im Unternehmen tätigen internen/externen Mitarbeiter und Kontakte. Gelöschte Mitarbeiter/Kontakte werden nicht ausgwiesen.</wsdl:documentation>
      <wsdl:input message="tns:searchPersonsRequest">
    </wsdl:input>
      <wsdl:output message="tns:searchPersonsResponse">
    </wsdl:output>
      <wsdl:fault name="InvalidParameterException" message="tns:InvalidParameterException">
<wsdl:documentation>Ungueltiger parameter</wsdl:documentation>
    </wsdl:fault>
      <wsdl:fault name="InvalidSessionException" message="tns:InvalidSessionException">

<wsdl:documentation>Session ungueltig</wsdl:documentation>
    </wsdl:fault>
      <wsdl:fault name="AssertionException" message="tns:AssertionException">
<wsdl:documentation>Ungültige Voraussetzung</wsdl:documentation>
    </wsdl:fault>
      <wsdl:fault name="InvalidClientException" message="tns:InvalidClientException">
<wsdl:documentation>Client nicht erlaubt</wsdl:documentation>
    </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException" message="tns:PermissionDeniedException">

<wsdl:documentation>Zugriff nicht gestattet / Rechte in Blue Ant nicht vorhanden</wsdl:documentation>
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HumanBinding" type="tns:Human">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="searchPersons">
      <soap:operation soapAction="http://blueant.axis.proventis.net/searchPersons"/>
      <wsdl:input>

        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidParameterException">
        <soap:fault name="InvalidParameterException"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidSessionException">

        <soap:fault name="InvalidSessionException"/>
      </wsdl:fault>
      <wsdl:fault name="AssertionException">
        <soap:fault name="AssertionException"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidClientException">
        <soap:fault name="InvalidClientException"/>
      </wsdl:fault>
      <wsdl:fault name="PermissionDeniedException">

        <soap:fault name="PermissionDeniedException"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HumanService">
    <wsdl:port name="HumanServicePort" binding="tns:HumanBinding">
<wsdl:documentation>Dieser Service liefert aus Blue Ant eine Liste aller im Unternehmen taetigen internen/externen Mitarbeiter und Kontakte.</wsdl:documentation>
      <soap:address location="http://78.46.94.155:8081/hs/services/HumanService"/>
    </wsdl:port>

  </wsdl:service>
</wsdl:definitions>
