webapp/src/wsdl/www.blueantasp22.de/hs/services/ProjectsService.xsd_ticket.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ticket="http://ticket.blueant.axis.proventis.net/" xmlns:base="http://base.blueant.axis.proventis.net/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ticket.blueant.axis.proventis.net/">
   <xsd:import namespace="http://base.blueant.axis.proventis.net/" schemaLocation="ProjectsService?xsd=base.xsd"/>
   <xsd:element name="GetTicketsRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="filter" type="ticket:T_GetTicketsRequestParameter">
               <xsd:annotation>
                  <xsd:documentation>Filter für die Ticket-Suche</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="T_GetTicketsRequestParameter">
      <xsd:sequence>
         <xsd:element name="ticketID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach PrimaryKey</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketNr" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticketnummer</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketDescription" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticket-Bezeichnung</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ownTickets" nillable="true" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>Flag für die Einschränkung auf eigene Tickets</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach PK Auftraggeber</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientSub" nillable="true" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>Flag für das Includen der Unterbereiche des gewählten Auftraggeber-UBs</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientContact" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ansprechpartner</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketTypeID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticketart</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketPriorityID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticketpriorität</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="projectID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Projekt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="taskID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Aktivität</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketTopicID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticketthema</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="responsible" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Verantwortlicher</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketSLAID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticket-SLA</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketStateID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ticketstatus</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="timeRequestBefore" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Fertigstellung Soll liegt vor diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="timeRequestAfter" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Fertigstellung Soll liegt nach diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="timeFinishedBefore" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Fertigstellung Wunsch liegt vor diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="timeFinishedAfter" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Fertigstellung Wunsch liegt nach diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="creator" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Ersteller</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Filter nach Kommentar</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="createdBefore" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Erstellungsdatum liegt vor diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="createdAfter" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Erstellungsdatum liegt nach diesem Zeitpunkt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="searchOnlyArchived" nillable="true" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>Flag für das Durchsuchen von archivierten Tickets</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="includeComments" nillable="true" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>Flag für das Includen der Ticketkommentare im Response</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="includeDocuments" nillable="true" type="xsd:boolean">
            <xsd:annotation>
               <xsd:documentation>Flag für das Includen der Ticketdokumente im Response</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="Ticket" type="ticket:T_Ticket"/>
   <xsd:complexType name="T_Ticket">
      <xsd:complexContent>
         <xsd:extension base="ticket:T_NewTicket">
            <xsd:sequence>
               <xsd:element name="ticketID" type="base:id">
                  <xsd:annotation>
                     <xsd:documentation>PrimaryKey</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ticketNr" type="xsd:string">
                  <xsd:annotation>
                     <xsd:documentation>Ticketnummer</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="ticketStateID" type="base:id">
                  <xsd:annotation>
                     <xsd:documentation>Ticketstatus</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="creatorID" type="base:id">
                  <xsd:annotation>
                     <xsd:documentation>Ersteller</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="dateCreated" type="xsd:dateTime">
                  <xsd:annotation>
                     <xsd:documentation>Erstellungsdatum</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="planMinutes" type="xsd:double">
                  <xsd:annotation>
                     <xsd:documentation>Planaufwand</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="isMinutes" type="xsd:double">
                  <xsd:annotation>
                     <xsd:documentation>Ist-Aufwand</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="timeFinished" nillable="true" type="xsd:dateTime">
                  <xsd:annotation>
                     <xsd:documentation>Fertigstellung Soll</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="TicketWithAttachments" type="ticket:T_TicketWithAttachments"/>
   <xsd:complexType name="T_TicketWithAttachments">
      <xsd:sequence>
         <xsd:element name="ticket" type="ticket:T_Ticket">
            <xsd:annotation>
               <xsd:documentation>Das Ticket</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comments" nillable="true" type="ticket:T_TicketCommentList">
            <xsd:annotation>
               <xsd:documentation>Liste der Kommentare</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="documents" nillable="true" type="ticket:T_TicketDocumentList">
            <xsd:annotation>
               <xsd:documentation>Liste der Dokumente</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="TicketList">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ticket:TicketWithAttachments"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="AddTicketRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="ticket" type="ticket:T_NewTicket">
               <xsd:annotation>
                  <xsd:documentation>Das neu anzulegende Ticket</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="T_NewTicket">
      <xsd:sequence>
         <xsd:element name="ticketDescription" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Ticket-Bezeichnung</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK Auftraggeber</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketTypeID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Ticketart</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketPriorityID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Ticketpriorität</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="projectID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Projekt</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="taskID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Aktivität</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketTopicID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Ticketthema</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketSLAID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Ticket-SLA</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketDescriptionInternal" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>interner Kommentar</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="ticketComment" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientContactID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK Ansprechpartner</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="clientContactEmail" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Email Ansprechpartner</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="responsibleID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>Verantwortlicher</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="timeFinishRequest" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Fertigstellung Wunsch</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="TicketComment" type="ticket:T_TicketComment"/>
   <xsd:complexType name="T_TicketComment">
      <xsd:sequence>
         <xsd:element name="creatorID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK des Kommentierenden</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="created" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Erstellungsdatum des Kommentars</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="comment" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Kommentar</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="T_TicketCommentList">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ticket:TicketComment"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="TicketDocument" type="ticket:T_TicketDocument"/>
   <xsd:complexType name="T_TicketDocument">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Dokumentenname</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="url" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>URL Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="descriptionRevision" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung Revision</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="editorID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK Verfasser</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="revisionNr" nillable="true" type="xsd:int">
            <xsd:annotation>
               <xsd:documentation>Revisionsnummer</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="modified" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Revision</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="content" nillable="true" type="xsd:base64Binary">
            <xsd:annotation>
               <xsd:documentation>Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fileSize" nillable="true" type="xsd:int">
            <xsd:annotation>
               <xsd:documentation>Größe des Dokuments</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="fileName" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Dateiname des Dokuments</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mimeType" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>MimeType des Dokuments</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="T_TicketDocumentList">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ticket:TicketDocument"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="AddTicketCommentRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="ticketID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>PK des Tickets, zu dem der Kommentar hinzugefügt werden soll</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="creatorID" nillable="true" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>PK des Kommentierenden. Wird kein PK übergeben, ist der Kommentierende diejenige Person, die sich über den WebService authentifiziert.</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="comment" type="xsd:string">
               <xsd:annotation>
                  <xsd:documentation>Kommentar</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="NewTicketDocument" type="ticket:T_NewTicketDocument"/>
   <xsd:complexType name="T_NewTicketDocumentRevision">
      <xsd:sequence>
         <xsd:element name="fileName" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Dateiname des Dokuments</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="content" type="xsd:base64Binary">
            <xsd:annotation>
               <xsd:documentation>Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="mimeType" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>MimeType des Dokuments</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="descRev" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung Revision</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="editorID" nillable="true" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK Verfasser</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="modified" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Datum Revision</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="T_NewTicketDocument">
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Dokumentenname</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="url" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Beschreibung Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="keywords" nillable="true" type="xsd:string">
            <xsd:annotation>
               <xsd:documentation>Schlüsselwörter (für Suche) zu diesem Dokument</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="revision" nillable="true" type="ticket:T_NewTicketDocumentRevision"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="T_NewTicketDocumentList">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ticket:NewTicketDocument"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="AddTicketDocumentRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="ticketID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>PK des Tickets, zu dem die Dokumente hinzugefügt werden sollen</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="documents" type="ticket:T_NewTicketDocumentList">
               <xsd:annotation>
                  <xsd:documentation>hinzuzufügende Dokumente</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="T_NewTicketParticipant">
      <xsd:sequence>
         <xsd:element name="ticketID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK für das Ticket</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="personID" type="base:id">
            <xsd:annotation>
               <xsd:documentation>PK für die Person, die am Ticket beteiligt ist</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="datePlanned" nillable="true" type="xsd:dateTime">
            <xsd:annotation>
               <xsd:documentation>Fertigstellung Plan</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="planTime" nillable="true" type="xsd:double">
            <xsd:annotation>
               <xsd:documentation>Geplanter Aufwand in Minuten</xsd:documentation>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="T_ChangeTicketParticipant">
      <xsd:complexContent>
         <xsd:extension base="ticket:T_NewTicketParticipant">
            <xsd:sequence>
               <xsd:element name="participantID" type="base:id">
                  <xsd:annotation>
                     <xsd:documentation>PK für diesen Ticketbeteiligten</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="isFinished" nillable="true" type="xsd:boolean">
                  <xsd:annotation>
                     <xsd:documentation>Fertig</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="TicketParticipant" type="ticket:T_TicketParticipant"/>
   <xsd:complexType name="T_TicketParticipant">
      <xsd:complexContent>
         <xsd:extension base="ticket:T_ChangeTicketParticipant">
            <xsd:sequence>
               <xsd:element name="dateFinished" nillable="true" type="xsd:dateTime">
                  <xsd:annotation>
                     <xsd:documentation>Fertigstellungsdatum</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="isTime" nillable="true" type="xsd:double">
                  <xsd:annotation>
                     <xsd:documentation>Tatsächlicher derzeitiger Aufwand in Minuten. Existiert ein Aufwand größer 0, so kann der beteiligte nicht mehr entfernt werden.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:element name="TicketParticipantList" type="ticket:T_TicketParticipantList"/>
   <xsd:complexType name="T_TicketParticipantList">
      <xsd:sequence>
         <xsd:element maxOccurs="unbounded" minOccurs="0" ref="ticket:TicketParticipant"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="GetTicketParticipantsRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="ticketID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>ID des Tickets</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="AddTicketParticipantRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="newTicketParticipant" type="ticket:T_NewTicketParticipant">
               <xsd:annotation>
                  <xsd:documentation>Neuer Ticketbeteiligter</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ChangeTicketParticipantRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="changeTicketParticipant" type="ticket:T_ChangeTicketParticipant">
               <xsd:annotation>
                  <xsd:documentation>Änderungen am Ticketbeteiligten</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="DeleteTicketParticipantRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="ticketParticipantID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>ID des Ticketbeteiligten</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="ReplaceTicketResponsibleRequestParameter">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="sessionID" type="xsd:string"/>
            <xsd:element name="personID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>ID des neues Ticketverantwortlichen</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
            <xsd:element name="ticketID" type="base:id">
               <xsd:annotation>
                  <xsd:documentation>ID des Tickets</xsd:documentation>
               </xsd:annotation>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>